<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/pracdomain1">실습1</a>
    <a href="/pracdomain2">실습2</a>
    <a href="/pracdomain3">실습3</a>
    <a href="/pracdomain4">실습4</a>
</body>
</html>