<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>이메일 보내기</h1>
    <form action="/sendEmail" method="post">
      <label for="to">받는 이메일 주소:</label>
      <input type="text" id="to" name="to" required><br>
      <label for="subject">이메일 제목:</label>
      <input type="text" id="subject" name="subject" required><br>
      <label for="message">이메일 내용:</label>
      <textarea id="message" name="message" rows="4" required></textarea><br>
      <button type="submit">전송</button>
    </form>
</body>
</html>