<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">안내</h5>
            </div>
            <div class="modal-body">
              <h4>인터넷익스플로러 지원 종료 안내</h4>
              <p>인터넷익스플로러 서비스 지원이 어쩌구~</p>
            </div>
            <div class="modal-footer">
              <div style="margin-right: 280;">
                <input type="checkbox"> 오늘 그만보기
              </div>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="close_btn()">Close</button>
            </div>
          </div>
        </div>
      </div>

    
    <script>
      let cookieCheck = false;

      function close_btn() {
        const modal_checkbox = document.querySelector("input");
        if (modal_checkbox.checked) {
          axios({
            method: 'GET',
            url: '/modal',
          }).then((res) => {
            if(res.data.result) {
              cookieCheck = true;
              console.log(cookieCheck);
            }
          });
        }
        }
        if (!cookieCheck) {
          axios.get('/checkCookie')
            .then(res => {
              if (!res.data.hasCookie) {
                $(document).ready(function() {
                  $("#exampleModal").modal("show");
                });
              }
            });
        } 
      </script>

</body>
</html>